@charset "utf-8";
// Colors
$light-grey: #E0E0E6;
$blue: #3096D6;
$grey: #5F7987;
$dark-grey: #293D50;
$black: #1E1F1F;

// Breakpoints
$xxsmall: 320px;
$xsmall: 576px;
$small: 768px;
$medium: 992px;
$large: 1200px;

// Typography
$font-family: "Roboto", "Open Sans", sans-serif;
$big-font-size: 20px;
$base-font-size: 16px;
$small-font-size: 14px;
$x-small-font-size: 12px;
$xx-small-font-size: 10px;
$weight-bold: 700;
$weight-medium: 500;
$weight-light: 300;

//base-vars
$base-spacing: 8px;
$para-base-spacing: 14px;