@charset "utf-8";

@import "~bulma/sass/utilities/functions.sass";
@import "variables.scss";

// Overrides

* {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



@import "~bulma/bulma.sass";