@charset "utf-8";

@import "~bulma/sass/utilities/functions.sass";
@import "variables.scss";

// Overrides
$primary: $blue;
$link: $grey;


* {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.full-width {
  width: 100%;
}

@import "~bulma/bulma.sass";