@charset "utf-8";

@import "~bulma/sass/utilities/functions.sass";
@import "variables.scss";

// Overrides
$primary: $blue;
$link: $grey;
$card-header-background-color: $dark-grey;
$card-header-color: white;
$card-radius: 0;
$card-header-weight: $weight-medium;


* {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.full-width {
  width: 100%;
}

@import "~bulma/bulma.sass";